@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "../..";

/* Custom theme variables & utilities untuk template standard */
@theme {
    --color-brand-50: #f0f9ff;
    --color-brand-100: #e0f2fe;
    --color-brand-200: #bae6fd;
    --color-brand-300: #7dd3fc;
    --color-brand-400: #38bdf8;
    --color-brand-500: #0ea5e9;
    --color-brand-600: #0284c7;
    --color-brand-700: #0369a1;
    --color-brand-800: #075985;
    --color-brand-900: #0c4a6e;
    --color-brand-950: #082f49;
    --color-accent-50: #eff6ff;
    --color-accent-100: #dbeafe;
    --color-accent-500: #3b82f6;
    --color-accent-600: #2563eb;
    --color-accent-700: #1d4ed8;
}

@utility bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}
